*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
  }
  a{
      text-decoration: none;
  }
.container{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 70px 0;
    float: left;
    width: 100%;
}
/* Col + Row */
.col-25{
    width: 25%;
    float: left;
}
.col-75{
    width: 75%;
    float: left;
}
.col-50{
    width: 50%;
    float: left;
}
.col-left{
    padding-right: 30px;
}
.col-right{
    padding-left: 30px;
}
.col-33{
    width: 33.33%;
    float: left;
}
/* Heading Styles */
h1{
    font-size: 3.8rem;
    margin-bottom: 26px;
    font-family: 'Josefin Sans', sans-serif;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 22px;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 20px;
}
p{
    font-size: 18px;
    line-height: 26px;
}
/* Utilities Class */
.white-text{
    color: white;
}

/* Header Section */
header{
    padding: 22px 0 36px 0;
    background-image: linear-gradient(225deg, #8229D6,  #467CE1);
}
nav{
    float: right;
}
nav a{
    padding: 0 16px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: 600;
}
nav a:hover{
    color: rgba(255, 255, 255, 1);
    transition: all .3 ease;
}
.img-profile{
    width: 100%;
}
/* Buttons */
.button-primary{
    background-image: linear-gradient(225deg,  #467CE1, #8229D6);
    border-radius: 5px;
    padding: 12px 26px;
    display: inline-block;
    margin-top: 22px;
    color: white;

}
.button-primary:hover{
    background-image: linear-gradient(45deg,  #467CE1, #8229D6);
    box-shadow: 0px px 5px rgba(0, 0, 0, 0.4);
    color: white;
    transition: all .3s ease-in-out;
}
.brand{
    font-size: 18px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -4px;
}
/* Hero Section */
section.hero{
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Dream Section */
section.dream{
    background-image: url("../img/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Latest Works Section */
section.works{
    background-image: url("../img/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.img-works{
    width: 100%;
    box-shadow: 0 0 1px black;
    border-radius: 8px;
}

section.works .col-33{
    padding: 18px;
}
/* Subscribe */
section.subscribe{
    background-image: linear-gradient(225deg,  #467CE1, #8229D6);
}
.subscribe h2{
    text-align: center;
    color: white;
    font-size: 32px;
    margin-bottom: 28px;
}
.subscribe-form{
    width: 500px;
    margin: 0 auto;
}
.subscribe-form input,
.subscribe-form button{
    padding: 12px 12px;
    border: none;
}
.subscribe-form input{
    width: 70%;
    float: left;
}
.subscribe-form button{
    width: 30%;
    float: left;
    color: white;
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}
.subscribe-form button:hover{
    background-color: rgb(8, 8, 8);
    transition: all .3s ease-out;
}


.email-me{
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 8px;
    text-align: center ;
    background-image: linear-gradient(225deg,  #467CE1, #8229D6);
    color: white;
}

.email-me a{
    font-size: 42px;
    color: white;
}
/* testimonial */
.testimonial{
    background-image: url("../img/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial h2{
    text-align: center;
    margin-bottom: 30px;
}
.reviews{
    width: 100%;
    float: left;
}
.testimonial .col-33{
    padding: 18px;
}
.bold-text{
    font-weight: 700;
}
.single-review{
    text-align: center;
    padding: 38px 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: #fff;
}
.single-review img{
    border-radius: 100%;
    height: 100px;
    box-shadow: 0 0 2px black;
}
footer{
    width: 100%;
    float: left;
    padding: 16px 0;
    text-align: center;
    background-image: linear-gradient(225deg,  #467CE1, #8229D6);
}
footer p{
    font-size: 16px;
    color: white;
}