*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  a{
      text-decoration: none;
  }
.container{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 70px 0;
    float: left;
    width: 100%;
}
/* Col + Row */
.col-25{
    width: 25%;
    float: left;
}
.col-75{
    width: 75%;
    float: left;
}
.col-50{
    width: 50%;
    float: left;
}
.col-left{
    padding-right: 30px;
}
.col-right{
    padding-left: 30px;
}
.col-33{
    width: 33.33%;
    float: left;
}
/* Heading Styles */
h1{
    font-size: 2.8rem;
    margin-bottom: 26px;
}
h2{
    font-size: 1.6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 160px;
}

/* Header Section */
header{
    padding: 22px 0 36px 0;
    background-color: orange;
}
nav{
    float: right;
}
nav a{
    padding: 0 16px;
    margin-bottom: 10px;
    text-decoration: none;
}
.img-profile{
    width: 90%;
}
/* Buttons */
.button-primary{

    background-color: orange;
    padding: 12px 26px;
    display: inline-block;
    margin-top: 22px;
    color: black;

}
.button-primary:hover{
    background-color: tomato;
    color: white;
    transition: all .3s ease;
}

/* Hero Section */
section.hero{
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
/* Dream Section */
section.dream{
    background-image: url("../img/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Latest Works Section */
section.works{
    background-image: url("../img/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.img-works{
    width: 100%;
    box-shadow: 0 0 1px black;
    border-radius: 8px;
}
section.works .col-33{
    padding: 18px;
}

.email-me{
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
    border-radius: 8px;
    text-align: center ;
    background-color: tomato;
    color: white;

}
.email-me a{
    font-size: 42px;
    color: white;
}
.testimonial h2{
    text-align: center;
    margin-bottom: 30px;
}